In [1]:
import pandas as pd
import xarray as xr
import scipy

In [53]:
import cdsapi
from urllib.request import urlopen

c = cdsapi.Client()

# dataset to read
dataset = 'reanalysis-era5-pressure-levels'

# flag to download data
download_flag = False

# api parameters 
params = {
    'format': 'netcdf',
    'product_type': 'reanalysis',
    'variable': ['relative humidity'],
    'pressure_level':'1000',
    'year':['2018','2019'],
    'month':['01','02','03','04',
            '05','06','07','08',
            '09','10','11','12'],
    'day': ['01','02','03','04','05',
           '06','07','08','09','10',
           '11','12','13','14','15',
           '16','17','18','19','20',
           '21','22','23','24','25',
           '26','27','28','29','30','31'],
    'time': ['00:00', '01:00', '02:00',
            '03:00', '04:00', '05:00',
            '06:00', '07:00', '08:00',
            '09:00', '10:00', '11:00',
            '12:00','13:00', '14:00',
             '15:00', '16:00', '17:00',
             '18:00', '19:00', '20:00',
             '21:00', '22:00', '23:00'],
    'grid': [1, 1],
    'area': [39.95, -75.17, 39.95, -75.17],
    }

# retrieves the path to the file
fl = c.retrieve(dataset, params)

# download the file 
if download_flag:
    fl.download("./output.nc")
    
# load into memory
with urlopen(fl.location) as f:
    ds = xr.open_dataset(f.read())

2021-12-05 03:16:28,487 INFO Welcome to the CDS
2021-12-05 03:16:28,494 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-pressure-levels
2021-12-05 03:16:28,597 INFO Request is queued
2021-12-05 03:20:47,714 INFO Request is running
2021-12-05 03:44:53,608 INFO Request is completed

In [54]:
df = ds.to_dataframe()
df.reset_index(inplace=True)
df = df.round(2)
df

       longitude  latitude                time          r
0         -75.17     39.95 2018-01-01 00:00:00  48.160000
1         -75.17     39.95 2018-01-01 01:00:00  47.389999
2         -75.17     39.95 2018-01-01 02:00:00  47.020000
3         -75.17     39.95 2018-01-01 03:00:00  47.389999
4         -75.17     39.95 2018-01-01 04:00:00  48.619999
...          ...       ...                 ...        ...
17515     -75.17     39.95 2019-12-31 19:00:00  62.220001
17516     -75.17     39.95 2019-12-31 20:00:00  57.830002
17517     -75.17     39.95 2019-12-31 21:00:00  62.009998
17518     -75.17     39.95 2019-12-31 22:00:00  68.720001
17519     -75.17     39.95 2019-12-31 23:00:00  74.209999

[17520 rows x 4 columns]

In [55]:
df.to_csv('humid_data/philly/2018_2019_humid.csv')