In [ ]:
import pandas as pd
import xarray as xr
import scipy
import openpyxl

In [52]:
import cdsapi
import xarray as xr
from urllib.request import urlopen
c = cdsapi.Client()
# dataset to read
dataset = 'reanalysis-era5-land'
# flag to download data
download_flag = False
# api parameters 
params = {
    'format': 'netcdf',
    'variable': ['total_precipitation'],
    'year':['2018','2019'],
    'month':['01','02','03','04',
            '05','06','07','08',
            '09','10','11','12'],
    'day': ['01','02','03','04','05',
           '06','07','08','09','10',
           '11','12','13','14','15',
           '16','17','18','19','20',
           '21','22','23','24','25',
           '26','27','28','29','30','31'],
    'time': ['00:00', '01:00', '02:00',
            '03:00', '04:00', '05:00',
            '06:00', '07:00', '08:00',
            '09:00', '10:00', '11:00',
            '12:00', '13:00', '14:00',
            '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00',
            '21:00', '22:00', '23:00'],
    'grid': [1, 1],
    'area': [39.95, -75.17, 39.95, -75.17],
    }
# retrieves the path to the file
fl = c.retrieve(dataset, params)
# download the file 
if download_flag:
    fl.download("./output.nc")
# load into memory
with urlopen(fl.location) as f:
    ds = xr.open_dataset(f.read())

2021-12-05 14:34:56,638 INFO Welcome to the CDS
2021-12-05 14:34:56,640 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-land
2021-12-05 14:34:56,744 INFO Request is queued
2021-12-05 14:59:20,144 INFO Request is running
2021-12-05 16:01:33,296 INFO Request is completed

In [53]:
df = ds.to_dataframe()
df.reset_index(inplace=True)
df = df.round(2)
df

       longitude  latitude                time   tp
0         -75.17     39.95 2018-01-01 00:00:00  0.0
1         -75.17     39.95 2018-01-01 01:00:00  0.0
2         -75.17     39.95 2018-01-01 02:00:00  0.0
3         -75.17     39.95 2018-01-01 03:00:00  0.0
4         -75.17     39.95 2018-01-01 04:00:00  0.0
...          ...       ...                 ...  ...
17515     -75.17     39.95 2019-12-31 19:00:00  0.0
17516     -75.17     39.95 2019-12-31 20:00:00  0.0
17517     -75.17     39.95 2019-12-31 21:00:00  0.0
17518     -75.17     39.95 2019-12-31 22:00:00  0.0
17519     -75.17     39.95 2019-12-31 23:00:00  0.0

[17520 rows x 4 columns]

In [54]:
df.to_csv('precipitation_data/philly/2018_2019_precip.csv')